# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
.eggs/

# Virtualenv
.venv/
venv/
env/

# Database
*.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment
.env
.env.local

# OS
.DS_Store
Thumbs.db

# Testing
.pytest_cache/
.hypothesis/
htmlcov/
.coverage
*.log
